@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(#fcbf07);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #fcbf07;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid #fcbf07;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(rgb(190, 21, 21));
  /* Windows High Contrast Mode */
  background-color: #fcbf07;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
